@model WebStore.Entities.Product

<div class='card m-2 p-1 text-center col-4'>
    <img src="~/product_image/@Model.Image"
         alt='NoImage'
         class="card-img-top" />
    <div class="card-body">
        <h5 class="card-title">
            @Model.ProductName
        </h5>
        <p class="card-text">
            @Model.Description
        </p>
        <div class="card-text badge badge-secondary">
            <h6>$@Model.Price</h6>
        </div>
        @{ // Получение текущего адреса
            var request = ViewContext.HttpContext.Request;
            var returnUrl = request.Path +
            request.QueryString.ToUriComponent();
        }
        <!--Разметка кнопки добавления в корзину-->
        @if (@Model.Quantity == 0)
        {
            <p class="mt-2">
                <a class="btn btn-block">
                    <i class="fa fa-shopping-cart"></i> Нет в наличии
                </a>
            </p>
        }
        else if (@Model.Quantity <= 5)
        {
            <p class="mt-2">
                <a class="btn btn-warning">
                    <i class="fa fa-shopping-cart"></i> Успейте купить!
                </a>
                <a class="btn btn-block">
                    <i class="fa"></i> Товара в наличии: @Model.Quantity
                </a>
            </p>
        } 
        else 
        {
        <p class="mt-2">
            <a asp-action="Add"
               asp-controller="Cart"
               asp-route-id="@Model.ProductId"
               asp-route-returnUrl="@returnUrl"
               class="btn btn-dark">
                <i class="fa fa-shopping-cart"></i> В корзину
            </a>
        </p>
        }

    </div>
</div>

