@page
@model WebStore.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p class="mt-2">
    <a asp-page="Create" class="btn btn-outline-info">
        <span class="fa fa-plus-circle"> Добавить</span>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Название продукта
            </th>
            <th>
                Описание
            </th>
            <th>
                Стоимость
            </th>
            <th>
                Бренд
            </th>
            <th>
                Категория
            </th>
            <th>
                Колличество
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                <img src="~/product_image/@item.Image" alt="NoImage" width="40" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductId"
                   class="btn btn-outline-info">
                    <span class="fas fa-edit"></span>
                </a>
                <a asp-page="./Delete" asp-route-id="@item.ProductId"
                   class="btn btn-outline-danger">
                    <span class="fas fa-trash-alt"></span>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
